#header {
    background-image: url(../img/slide01.jpg);
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-overlay {
    width: 100%;
    height: 793px;
    position: absolute;
    background-color:rgb(0, 0, 0, 0.5);
    z-index: 0;
}

.header-overlay-2 {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

/* navbar hissesi bashladi */

.dropbtn {
    padding: 30px 0px;
}

.dropdown {
 position: relative;
}

.dropdown-content {
position: absolute;
width: 100px;
background-color: #222a35;
display: none;
top: 55px; 
padding: 20px 20px;  
text-decoration: none;
line-height: 34px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 15px 0px;
}

.logo {
    display: flex;
    position: relative; 
}
.logo img {
    object-fit: cover;
    padding-top: 0px;
    margin-top: 0px;
    width: 52px;
    height: 52px;
}

.logo span {
    font-size: 30px;
    padding-left: 0px;
    padding-top: 20px;
    position: absolute; 
    left: 40px;
}

.menu {
    display: flex;
    justify-content: center;
    
}

.menu ul {
    display: flex;
    justify-content: space-between;
}

.menu ul li {
    margin: 0px 40px;
    list-style: none;   
}

.menu ul li:hover {
    color:  #5caf01;
}

.registration {
    display: flex;
    justify-content: space-between;
}

.registration ul {
    display: flex;
    justify-content: space-between;
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
}

.registration ul li {
    margin: 0px 33px;
    list-style: none;
}

.registration ul li i {
    margin-right: 7px;
}

/* navbar hissesi tamamlandi */

/* navbar-main hissesi bashladi */
.navbar-main {
    display: flex;
    justify-content: space-between;
    padding: 200px 0px;
}

.navbar-main-content {
    padding-left: 50px;
    width: 600px;
}

.navbar-main-table {
    display: flex;
    color: black;
    justify-content: end;
}

.heading2 h2 {
    font-size: 1.5em;
    font-weight: 700px;
    color: white;
}

.heading1 h1 {
    font-size: 3.1em;
    font-weight: bold;
    color: white;
    line-height: 40px;
    margin: 24px 0px;
}

.paragraph p {
    font-size: 1em;
    font-weight: 200px;
    color: white;
    margin: 35px 0px;
}

.search {
    display: inline-block;
    border: 2px solid white;
    width: 368px;
    padding: 10px;
    border-radius: 5px;
    background: none;
}

.btn {
    display: inline-block;
}

.btn button {
    background:#5caf01;
    cursor: pointer;
    margin-left: 7px;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;

}

/* navbar-main hissesi tamamlandi */

/* navbar-main-bottom hissesi bashladi */

#header-bottom {
    background-color: #5caf01;
}
.navbar-main-bottom {
    border: 1px solid gray;
}

.course .icon-style i {
    display: inline-block;
}

.people .icon-style h6 {
    display: inline-block;
}

.countries .icon-style p {
    display: inline-block;
}

.navbar-main-table {
    display: grid;
    grid-template-columns: 150px 150px 150px;
}

.navbar-main-table-items {
    padding: 20px;
    text-align: center;
    color: green;
    width: 80px ;
    margin: 5px 5px;
    font-size: 15px;
    border: 2px solid gray;
    border-radius: 5px;
    
}

.navbar-main-table-items h2{
    color: white;
}

.navbar-main-table-items i {
    font-size: 25px;
}

.header-bottom {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
  
    font-size: 20px;
}

.header-bottom .content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px;
 
    color: white;
}

.header-bottom .content .icon-style {
   
    padding: 10px;
    text-align: center;
    position: relative;
    font-size: 30px;
}

.header-bottom .content .icon-style i{
    position: absolute;
    top: 15px;
    left: 45px;
}


.header-bottom .content .icon-body {
    padding: 10px;
    margin-left: -20px;
}

.header-bottom .content .icon-body h6 {
    font-size: 20px;
}

.header-bottom .content .icon-body p {
    font-size: 16px;
}
/* popular courses section bashladi */

#popularcourses {
    padding: 40px;
}
.popularcourses-tab {
    display: grid;
    grid-template-columns: 110px 105px 100px 115px;
    justify-content: center;
    gap: 40px;
    padding-bottom: 20px;
}   

.tabs a {
    color: #222a35;
}

.popularcourses-content {
    display: grid;
    grid-template-columns: 370px 400px 395px;
    gap: 20px;
}   

.popularcourses-content .contents {
    height: 400px;
}

.popularcourses-content .contents h1 {
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
}


.popularcourses-content .contents button {
    margin-left: 15px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid rgba(92, 175, 1, 0.4);
}

/* popular courses section tamamlandi */

#justtake {
    background-image: url(../img/call-to-action.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 70px;
}

.justtake-overlay {
    width: 100%;
    height: 320px;
    position: absolute;
    background-color:rgb(0, 0, 0, 0.5);
    z-index: 0;
    left: 0px;
}

.justtake-overlay-2 {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.justtake-content h2 {
font-size: 25px;
padding-bottom: 5px;

}

.justtake-content h1 {
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 15px;
    
}

.justtake-content p {
    font-size: 20px;
    
    padding-bottom: 15px;
}

.justtake-content button {
    background:#5caf01;
    cursor: pointer;
    margin-left: 7px;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

/* popularcategories hissesi bashladi */
#popularcategories {
    padding: 35px;
}
.popularcategories-content {
    display: grid;
    grid-template-columns: 370px 400px 395px;
    gap: 20px;
}   

.popularcategories-content .contents {
    padding: 20px;
    text-align: center;
    margin: 5px 5px;
    border-radius: 5px;
    transition: all ease 50s;
}

.contents :hover {
    border: 1px solid gray;
    cursor: pointer;
}

.popularcategories-content i {
    font-size: 75px;
    color: #5caf01;
}

.popularcategories-content h4 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 20px;
}

.popularcategories-content p {
    font-size: 20px;
    padding: 5px 0px;

}
/* popularcategories hissesi bitdi */

/* testimonials hissesi bashladi */
#testimonials {
    background: #eef5fd;
    text-align: center;
    padding: 55px;
}

.testimonials-body p {
    padding: 20px;
    font-size: 20px;
    font-style: italic;
    color: #768292;
    
}

.testimonials-body span {
    display: block;
    color: #768292;
}

.quote-item {
    padding: 20px 0px;
}

.testimonials-body h6 {
    font-weight: 700;
    font-size: 20px;
    color: #222a35;
    line-height: 35px;
}

.testimonials-body img {
    border-radius: 50px;
}


.media-content {
    background-color:#222a35;
    color: white;
    padding: 130px 0px;
}


.video {
    background-image: url(../img/video-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.video i {
    font-size: 100px;
    color: white;
}

.video:hover i {
    color: rgba(92, 175, 1, 0.4);
}

.media-content .justtake-content {
    padding-left: 30px;
}

/* partner hissesi bashladi */

.partner {
    padding: 70px 0px;
    opacity: .5;
}

.partner:hover {
    opacity: 1;
    transition: all 0.15s ease-in-out 0s;
}

/* partner hissesi tamamlandi */

/* pagefooter hissesi bashladi */

#pagefooter {
    background-color: #222a35;
    color: #ffff;
    padding: 80px 0px;
}

.footer-contents {
    display: grid;
    grid-template-columns: 255px 210px 200px 230px;
    gap: 80px;
}

.footer-content h2 {
    font-size: 17px;
    padding-bottom: 40px;
    font-weight: 700;
}

.footer-content button {
    margin-left: 5px;
    padding: 12px;
    border-radius: 5px;
    border: 2px solid rgba(92, 175, 1, 0.4);
    color: white;
    line-height: 12px;
    margin-bottom: 5px;
}

.footer-content p {
   padding-top: 30px;
   line-height: 30px;
}

.social i {
    padding-right: 10px;
}

.social {
    line-height: 35px;
}

.contact-item i {
    padding-right: 18px;
}

.contact-item {
    padding: 0px 0px;
    line-height: 35px;
}

/* copyright hissesi bashladi */
 #copyright {
    background-color: #2a323c;
    padding: 20px 0px;
}

.copyright-body  {
    padding: 0px 0px;
    text-align: center;
    color: white;
    font-size: 15px;
}

.copyright-body i {
    padding-right: 6px;
}


 
/* copyright hissesi bashladi */